


<h1>{{ name }}</h1>
<input id="boxHeroName" [(ngModel)]="InputHeroValue">
<button (click)="changeHeroByThis(InputHeroValue)">Cambio de Héroe</button>


<dl>
  <td>Nombre:</td>
  <dd> {{ name }} </dd>

  <td>Edad:</td>
  <dd> {{ age }} </dd>

  <td>Método:</td>
  <dd> {{ getHeroDescription() }} </dd>

  <td>Capitalizado:</td>
  <dd> {{ capitalizedName }} </dd>

</dl>


<button
  *ngIf="name !== 'Spiderman'"
  (click)="changeHero()"
  class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button
  *ngIf="InputAgeValue !== null; else elseBlock"
  (click)="changeAge()"
  class="btn btn-primary">
  Cambiar edad
</button>

<ng-template #elseBlock>
  <button
    (click)="changeAgeByThis(InputAgeValue)"
    class="btn btn-primary">
    Cambiar edad InputAgeValue
  </button>
</ng-template>

<button
  (click)="resetForm()"
  class="btn btn-primary mx-2">
  Reset
</button>

<button

(click)="changeAgeByThis(InputAgeValue)"
>

  Introduce edad
</button>
<input id="iAge" [(ngModel)] = "InputAgeValue">
